

<footer class="site-footer h-card">
  {%- if page.related -%}
  <div class="related-posts wrapper">
    <h3>Some more writing</h3>
    <div class="footer-col-wrapper">
    
    {%- for related in page.related -%}
      {% assign related_post = site.posts 
        | where: "url", related 
        | first %}
    <div class="footer-col">
    <h3>
      <a class="post-link" href="{{ related_post.url | relative_url }}">
        {{ related_post.title }}
      </a>
      <span class="post-meta">{{ related_post.tagline }} </span>
    </h3>
  </div>
    {%- endfor -%}
    
  </div>
  </div>
  {%- endif -%}

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <!-- {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%} -->
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
