<ul class="post-list">
    <li>
        <h3>
            <a class="post-link" href="/ode">Ode</a>
            <span class="post-meta">A website to help you write poetry</span>
        </h3>
    </li>
    <li>
        <h3>
            <a class="post-link" href="https://theartofthemealdeal.com/">The Art of the Meal Deal</a>
            <span class="post-meta">Sainsbury's meal deal optimizer</span>
        </h3>
    </li>
    <li>
        <h3>
            <span class="post-link-defunct">Manifestos.info</span>
            <span class="post-meta">Defunct - an AI trained on the 2024 UK general election manifestos</span>
        </h3>
    </li>
</ul>