---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#notes {
    border-top: 1px dashed #e8e8e8;
    margin-top: 72px;
    padding-top: 24px;
}

#notes, .footnotes {
    font-size: 0.75em
}

.post-list {
    margin-left: 16px;
}

.site-footer {
    margin-top: 16px;
}

.related-posts {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
    margin-bottom: 30px;
}

.related-posts .footer-col {
    padding-right: 32px;
}

img:not(.emoji) {
    display: block;
    margin: 0 auto;
    max-width: 680px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.MathJax {
  font-style: italic !important;
}
